html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    box-sizing:border-box;
}

*,*:before,*:after{
    box-sizing:inherit;
}

body{
    background-color: black;
    margin:0;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block;
}

summary{
    display:list-item;
}

audio,canvas,progress,video{
    display:inline-block;
}

progress{
    vertical-align:baseline;
}

audio:not([controls]){
    display:none;
    height:0;
}

[hidden],template{
    display:none;
}

a{
    background-color:transparent;
}

a:active,a:hover{
    outline-width:0;
}

abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted;
}

b,strong{
    font-weight:bolder;
}

dfn{
    font-style:italic;
}

mark{
    background:#ff0;color:#000;
}

small{
    font-size:80%;
}

sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}

sub{
    bottom:-0.25em;
}

sup{
    top:-0.5em;
}

figure{
    margin:1em 40px;
}

img{
    border-style:none;
}

code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em;
}

hr{
    box-sizing:content-box;
    height:0;overflow:visible;
}

button,input,select,textarea,optgroup{
    font:inherit;
    margin:0;
}

optgroup{
    font-weight:bold;
}

button,input{
    overflow:visible;
}

button,select{
    text-transform:none;
}

button,[type=button],[type=reset],[type=submit]{
    -webkit-appearance:button;
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
    border-style:none;
    padding:0;
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
    outline:1px dotted ButtonText;
}

fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em;
}

legend{
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal;
}

textarea{
    overflow:auto;
}

[type=checkbox],[type=radio]{
    padding:0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px;
}

[type=search]::-webkit-search-decoration{
    -webkit-appearance:none;
}

::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit;
}

/**************************************************/

a{
    color:inherit
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

body, html {
  height: 100%;
  color: #777;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
h3{
    font-family: "Segoe UI",Arial,sans-serif;
    font-size:24px;
    font-weight: 400;
    margin: 10px 0;}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("../img/dv.jpg");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../img/pala.jpg");
  min-height: 400px;
}

.bgimg-4 {
    background-image: url("../img/matrix.jpg");
    min-height: 400px;
  }

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../img/mariane.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.JP-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
    min-height: 400px;
  }
}


/* Navbar */

.top {position:fixed;width:100%;z-index:1}

.top{top:0}

.nav-bar .w3-dropdown-hover,.nav-bar .w3-dropdown-click{position:static;float:left}

.nav-bar .boutons{white-space:normal}

.nav-bar:before,.nav-bar:after{content:"";display:table;clear:both}

.nav-bar{
    color: white;
    width:100%;
    overflow:hidden;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.JP-center .nav-bar{display:inline-block;width:auto}

.nav-bar .objetBar{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0}

.nav-bar-block .objetBar{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}

.objetBar.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}

.w3-block{display:block;width:100%}

.navmoving .w3-dropdown-hover,.navmoving .w3-dropdown-click{width:100%}

.navmoving .w3-dropdown-hover .w3-dropdown-content,.navmoving .w3-dropdown-click .w3-dropdown-content{min-width:100%}

.navmoving .w3-dropdown-hover .boutons,.navmoving .w3-dropdown-click .boutons{width:100%;text-align:left;padding:8px 16px}
.nav-bar.card.animate-top.blanc{
    text-shadow:none;
}
.navmoving .objetBar{
    width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}

.navmoving.JP-center .objetBar{text-align:center}

.w3-block{display:block;width:100%}

.objetBar.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}

/* NAVBar Si descendu sur la page */

.navmoving .objetBar{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}

.w3-block{display:block;width:100%}

.navmoving .w3-dropdown-hover,.navmoving .w3-dropdown-click{width:100%}

.navmoving .w3-dropdown-hover .w3-dropdown-content,.navmoving .w3-dropdown-click .w3-dropdown-content{min-width:100%}

.navmoving .w3-dropdown-hover .boutons,.navmoving .w3-dropdown-click .boutons{width:100%;text-align:left;padding:8px 16px}

.JP-center{text-align:center!important}


.droite{float:right!important}
.cacher{display:none!important}.w3-show-block,.voir{display:block!important}.w3-show-inline-block{display:inline-block!important}





#envoi {
    border: solid 1px grey;
    background-color: white;
    box-shadow:inset -5px -5px 5px grey, inset 5px 5px 5px white, inset -5px 5px 5px white, inset 5px -5px 5px white!important}
#envoi:hover{color:rgb(255, 255, 255)!important; background-color: darkgrey!important; 
    box-shadow: inset 5px 5px 5px grey, inset -5px -5px 5px white, inset -5px 5px 15px white, inset 5px -5px 5px white!important}



.w3-dropdown-hover:hover > .boutons:first-child,.w3-dropdown-click:hover > .boutons:first-child{background-color:#ccc;color:#000}
.navmoving .w3-dropdown-hover .boutons,.navmoving .w3-dropdown-click .boutons{width:100%;text-align:left;padding:8px 16px}

.boutons{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.w3-btn,.boutons{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.boutons:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}








.card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}

.animate-top{position:relative;animation:animatetop 0.4s}



@media (max-width:992px) and (min-width:601px){.cacher-medium{display:none!important}}
@media (min-width:993px){.JP-modal-content{width:900px}.cacher-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:600px){.JP-modal-content{margin:0 10px;width:auto!important}.JP-modal{padding-top:30px}
.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}
.cacher-small{display:none!important}.w3-mobile{display:block;width:100%!important}.objetBar.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .boutons,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .boutons{width:100%}}
.boutons:hover{color:#000!important;background-color:#ccc!important}
/** fin nav barre **/

/* corp */

.JP-container{
    background-color: #000; 
}
.JP-transparent,.w3-hover-none:hover{background-color:transparent!important}
.JP-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.JP-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.JP-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.JP-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.JP-opacity,.JP-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.JP-hover-opacity-off:hover{opacity:1}
.JP-image{max-width:100%;height:auto}
.JP-animate-opacity{animation:opac 0.8s}
.JP-display-topright{position:absolute;right:0;top:0}
.JP-border{border:1px solid #ccc}
.JP-input{
    background-color: darkgrey;
    box-shadow: inset 5px 5px 10px grey, inset -5px 5px 10px white, inset 5px -5px 10px white, inset -5px -5px 10px white;
    margin: 0 0 15px;
    border-radius: 20px;
    padding:8px;
    display:block;
    /*border:none;*/
    border-bottom:1px solid #ccc;
    width:100%;
}
.JP-margin-bottom{margin-bottom:16px!important}
.JP-xlarge{font-size:24px!important}
.JP-large{font-size:18px!important}
.JP-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.JP-padding-small{padding:4px 8px!important}
.JP-padding-large{padding:12px 24px!important}
.JP-margin-right{margin-right:16px!important}
.JP-content,.w3-auto{margin-left:auto;margin-right:auto}
.JP-content{max-width:980px}
.w3-auto{max-width:1140px}
.JP-container,.JP-panel{padding:0.01em 16px}.JP-panel{margin-top:16px;margin-bottom:16px}
.JP-container:after,.JP-container:before,.JP-panel:after,.JP-panel:before,.JP-row:after,.JP-row:before,.JP-row-padding:after,.JP-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.JP-row-padding,.JP-row-padding>.JP-half,.JP-row-padding>.w3-third,.JP-row-padding>.w3-twothird,.JP-row-padding>.w3-threequarter,.JP-row-padding>.JP-quarter,.JP-row-padding>.JP-col{padding:0 8px}

.JP-col{padding:0 8px}
.JP-col,.JP-half,.w3-third,.w3-twothird,.w3-threequarter,.JP-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}

@media (min-width:601px){
    .w3-col.m1{width:8.33333%}
    .w3-col.m2{width:16.66666%}
    .JP-col.m3,.JP-quarter{width:24.99999%}
    .JP-col.m4,.w3-third{width:33.33333%}
    .w3-col.m5{width:41.66666%}
    .JP-col.m6,.JP-half{width:49.99999%}
    .w3-col.m7{width:58.33333%}
    .JP-col.m8,.w3-twothird{width:66.66666%}
    .w3-col.m9,.w3-threequarter{width:74.99999%}
    .w3-col.m10{width:83.33333%}
    .w3-col.m11{width:91.66666%}
    .w3-col.m12{width:99.99999%}
}
@media (min-width:993px){
    .w3-col.l1{width:8.33333%}
    .w3-col.l2{width:16.66666%}
    .w3-col.l3{width:24.99999%}
    .w3-col.l4{width:33.33333%}
    .w3-col.l5{width:41.66666%}
    .w3-col.l6{width:49.99999%}
    .w3-col.l7{width:58.33333%}
    .w3-col.l8{width:66.66666%}
    .w3-col.l9{width:74.99999%}
    .w3-col.l10{width:83.33333%}
    .w3-col.l11{width:91.66666%}
    .w3-col.l12{width:99.99999%}
}
/*pading*/


.JP-padding-14 {
    padding-top: 14px!important;
    padding-bottom: 14px!important;
}
.JP-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.JP-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.w3-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.JP-padding-64{padding-top:64px!important;padding-bottom:64px!important}
/* couleurs */

.w3-text-rouge,.JP-hover-text-rouge:hover{color:rgb(255, 0, 0)!important}
.w3-text-violet,.JP-hover-text-violet:hover{color:rgb(175, 76, 175)!important}
.w3-text-turquoise,.JP-hover-text-turquoise:hover{color:#04c4b4!important}
.w3-text-green,.JP-hover-text-green:hover{color:#4CAF50!important}
.JP-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-text-black,.JP-hover-text-black:hover{color:#000!important}
.JP-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.JP-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.blanc,.flotter-black:hover{color:#000!important;background-color:#fff!important}
.rouge,.flotter_rouge:hover{color:#fff!important;background-color:#f44336!important}
.noir,.flotter-black:hover{color:#fff!important;background-color:#000!important}

/* paralax */
.JP-opacity-min{opacity:0.75}
.JP-display-container{position:relative}
.JP-display-container:hover .w3-display-hover{display:block}.JP-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.JP-round,.w3-round-medium{border-radius:15px}
.JP-xxlarge{font-size:36px!important}

/*couleur du surlignement pour WebKit
(utilisé par Chrome et Safari, par exemple)*/
::selection {
    color: #fff;
    background: rgb(212, 0, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*couleur du surlignement pour Gecko 
(utilisé par Mozilla Firefox, par exemple)*/
::-moz-selection {
    color: #fff;
    background: rgb(212, 0, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*ScrollBarre en pied de page*/
#barre-1 {position:fixed; bottom:0; height:5px; width:100%; background:none; border:2px solid transparent;}
#barre-1 .progression {background:#d400ff; width:0%; height:100%; transition:width 0.3s;}
/*#barre-1 .pourcentage {position:absolute; top:0; font-size:1.5em; line-height:1.5em; text-align:center; width:100%; color:#fff;}*/

.instabtn:before {
    font-size: 25px;
}

#war_violet {
    color: #d400ff;
}