.jp-fr {
    float: right;
}
.jp-fl {
    float: left;
}
.jp-inlFlex {
    display: inline-flex;
}
.jp-txtTrans {
    color: transparent;
}
/******BOUTONS neon******/

.rad1{border-radius: 20px 20px 0}
.rad2{border-radius: 20px 20px 20px 0}
.rad3{border-radius: 20px 20px}
.rad4{border-radius: 20px 0 0}
.rad5{border-radius: 0 20px 0 0}
.rad6{border-radius: 20px 0 20px 20px}
.rad7{border-radius: 0 20px 20px 20px}
.rad8{border-radius: 0 0 0 20px}
.rad9{border-radius: 0 0 20px}
.rad10{border-radius: 0 0 20px 20px}
.rad11{border-radius: 20px 20px 0 0}
.rad12{border-radius: 20px 0 0 20px}
.rad13{border-radius: 0 20px 20px 0}

.btnNeon{
    padding: 9px 18px;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid;
}

.btnNeon.onoffTurq,
.btnNeon.onoffTurq:hover,
.btnNeon.onoffTurqNone,
.btnNeon.onoffTurqNone:hover,
.btnNeon.onoffViol,
.btnNeon.onoffViol:hover{
    text-decoration:none;
    margin: 1px 0;
}

.onoffTurq, .onoffTurqNone {
    border-color: #04c4b483;
    box-shadow: 2px 2px 5px #04c4b438,
       -2px 2px 5px #04c4b438,
       2px -2px 5px #04c4b438,
       -2px -2px 5px #04c4b438,
       inset 2px 2px 5px #04c4b438,
       inset -2px 2px 5px #04c4b438,
       inset 2px -2px 5px #04c4b438,
       inset -2px -2px 5px #04c4b438;
    background: -webkit-gradient(linear,left top,right top,
       from(#04c4b4),to(#d400ff));
    background: linear-gradient(90deg,#04c4b4,#d400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-text-decoration-color: #04c4b4!important;
    text-decoration-color: #04c4b4!important;
}

.onoffTurqNone:hover {
    border-color: #04c4b456;
    box-shadow: 2px 2px 5px #03837838,
       -2px 2px 5px #03837838,
       2px -2px 5px #03837838,
       -2px -2px 5px #03837838,
       inset 2px 2px 5px #03837838,
       inset -2px 2px 5px #03837838,
       inset 2px -2px 5px #03837838,
       inset -2px -2px 5px #03837838;
    background: -webkit-gradient(linear,left top,right top,
       from(#04c4b4),to(#d400ff));
    background: linear-gradient(90deg,#04c4b4,#d400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-text-decoration-color: #04c4b4!important;
    text-decoration-color: #04c4b4!important;
}

.onoffTurq:hover {
   border-color: #04c4b4;
   box-shadow: 3px 3px 10px #04c4b483,
   -3px 3px 10px #04c4b483,
   3px -3px 10px #04c4b483,
   -3px -3px 10px #04c4b483,
   inset 3px 3px 10px #04c4b483,
   inset -3px 3px 10px #04c4b483,
   inset 3px -3px 10px #04c4b483,
   inset -3px -3px 10px #04c4b483;
    background: -webkit-gradient(linear,left top,right top,
       from(#d400ff),to(#04c4b4));
    background: linear-gradient(90deg,#d400ff,#04c4b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-text-decoration-color: #04c4b4!important;
    text-decoration-color: #04c4b4!important;
}

.onoffViol {
    border-color: #d400ff83;
    box-shadow: 2px 2px 5px #d400ff38,
       -2px 2px 5px #d400ff38,
       2px -2px 5px #d400ff38,
       -2px -2px 5px #d400ff38,
       inset 2px 2px 5px #d400ff38,
       inset -2px 2px 5px #d400ff38,
       inset 2px -2px 5px #d400ff38,
       inset -2px -2px 5px #d400ff38;
    background: -webkit-gradient(linear,left top,right top,
       from(#04c4b4),to(#d400ff));
    background: linear-gradient(90deg,#04c4b4,#d400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-text-decoration-color: #04c4b4!important;
    text-decoration-color: #04c4b4!important;
}

.onoffViol:hover {
   border-color: #d400ff;
   box-shadow: 3px 3px 10px #d400ff83,
   -3px 3px 10px #d400ff83,
   3px -3px 10px #d400ff83,
   -3px -3px 10px #d400ff83,
   inset 3px 3px 10px #d400ff83,
   inset -3px 3px 10px #d400ff83,
   inset 3px -3px 10px #d400ff83,
   inset -3px -3px 10px #d400ff83;
    background: -webkit-gradient(linear,left top,right top,
       from(#d400ff),to(#04c4b4));
    background: linear-gradient(90deg,#d400ff,#04c4b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-text-decoration-color: #04c4b4!important;
    text-decoration-color: #04c4b4!important;
}

/******BOUTONS neon******/

.dpblock100 {
    display: block;
    width: 100%;
}
.dpblockmax {
    display: block;
    width: max-content;
}
.dpinlineb {
    display: inline-block;
    vertical-align: middle;
}
/*Fin Boutons*/

/* Bouton Animé */
#btnAnim {
    display: inline-block;
    width: 15px;
    height: 15px;
    right: 15px;
    background: transparent;
    position: absolute;
    border: 0;
    padding: 15px;
    cursor: pointer;
}

#btnAnim .outer {
animation: animZindexLogo 3520ms linear infinite;
    height: 38.5%;
    width: 38.5%;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-inline-start: -18.75%;
    margin-top: -18.75%;
}

.outer {
    display: block;
    height: 42px;
    pointer-events: none;
    position: absolute;
}

#btnAnim .ball1 {
    animation-delay: 880ms;
}

#btnAnim .ball2 {
    animation-delay: 1760ms;
}

#btnAnim .ball3 {
    animation-delay: 2640ms;
}

#btnAnim .outer .inner {
    animation: animLogo 880ms cubic-bezier(.445, .05, .55, .95) infinite alternate;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    transform: rotate(90deg);
    width: 100%;
}
        
#btnAnim .ball0 .inner {
    background: linear-gradient( 90deg, #d400ff, #04c4b4);
}

#btnAnim .ball1 .inner {
    background: linear-gradient( 90deg, #d400ff, #04c4b4);
}

#btnAnim .ball2 .inner {
    background: linear-gradient( 90deg, #d400ff, #04c4b4);
}
#btnAnim .ball3 .inner {
     background: linear-gradient( 90deg, #d400ff, #04c4b4);
}

@keyframes animLogo {
     0% {transform: translate(-99%, 0);}
    100% {transform: translate(99%, 0);}
}

@keyframes animZindexLogo {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
    0% { z-index: 100; }
    100% { z-index: 1; }
}

@media (max-width: 992px){
    #btnAnim {
        top: 38px;
    }
}

@media (max-width: 480px){
    #btnAnim {
        top: 60px;
    }
}

@media (max-width: 445px){
    #btnAnim {
        top: 38px;
    }
}
/* Fin Bouton Animé */

/*   page bientot   */
#corpBientot {
    background: linear-gradient(0.25turn,#d400ff,#04c4b4);
    background-size: contain;
}
.bgimg {
    background: url(../img/rm2.png) no-repeat center bottom;
    background-size: contain;
    min-height: 100%;
}

.bgimg2 {
    background: url(../img/rm3.png) no-repeat center top;
    background-size: contain;
    min-height: 100%;
    position: absolute;
    min-width: 100%
}
#head_bientot {
    background-color: #00000082;
    padding: 0 10px 10px;
    margin: 25px 25px 0 25px;
    text-align: right;
    width: max-content;
    float: right;
}

#head_bientot a {
    text-decoration: none;
}

#head_bientot:hover .psycho-logo{
    background: linear-gradient(-45deg, #04c4b4, #d400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titrag_bientot1 {
    color: #fff;
    text-shadow: -1px -1px 0em #d400ff,
        1px -1px 0em #d400ff, 1px 1px 0em #d400ff,
        -1px -1px 0.5em #d400ff, 1px -1px 0.5em #d400ff,
        1px 1px 0.5em #d400ff;
}

.titrag_bientot2 {
    color: #fff;
    text-shadow: -1px -1px 0em #04c4b4,
        1px -1px 0em #04c4b4, 1px 1px 0em #04c4b4,
        -1px -1px 0.5em #04c4b4, 1px -1px 0.5em #04c4b4,
        1px 1px 0.5em #04c4b4;
}

.animhaut {
    position: relative;
    animation: animhaut 0.4s
}

@keyframes animhaut {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.animbas {
    position: relative;
    animation: animbas 1s
}

@keyframes animbas {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@media all and (max-width: 535px) {
    .psycho-logo {
        font-size: 31px !important;
        letter-spacing: 1px !important;
        padding: 0;
    }

    #head_bientot {
        width: auto;
    }

    .w3-display-middle.w3-jumbo {
        font-size: 31px !important;
    }
}

@media all and (max-width: 1242px) {
    .bgimg2 {
        background-position: center top 86px;
    }
}

@media all and (max-width: 426px) {
    .bgimg2 {
        background-position: center top 120px;
    }
}

@media all and (max-width: 371px) {
    .bgimg2 {
        background-position: center top 145px;
    }

    .bgimg {
        background-position: center bottom 60px;
    }
}

@media all and (max-width: 325px) {
    #head_bientot {
        width: min-content;
    }

    .bgimg2 {
        background-position: center top 200px;
    }

    .w3-display-middle .w3-jumbo {
        font-size: 24px!important;
    }
}